*{
    background-color: navy;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.gameBoard-container1{
    width: 600px;
    background: gray;
    overflow-y: auto;
    margin: 10px;
}

.gameBoard-container2{
    width: 600px;
    background: gray;
    overflow-y: auto;
    margin: 10px;
}

.button{
    width: 50px;
    height: 50px;
    float: left;
    background: lightgray;   
    margin: 5px;
}

.button:hover{
    background-color: black;
    cursor: pointer;
}


.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hit{
    width: 50px;
    height: 50px;
    float: left;
    background: red;   
    margin: 5px;
    
}

.miss{
    width: 50px;
    height: 50px;
    float: left;
    background: blue;   
    margin: 5px;
    
}

#logo{
    width: 20%;
    height: auto;
}